.services {
  background: #000;
  color: #bbb;
  margin-top: -15px;
  padding-bottom: 5em;
  padding-top: 5em;
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.services .item .fa-stack-2x{
    color: #dc3545 !important;
}