@import "../../styles/config.scss";

.work-page {
  background: #333;
  color: #ddd;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  padding-bottom: 3rem;
  overflow: hidden;
  border-top: 0.1rem solid #dc3545;
  animation: fadeSlideIn 0.5s ease;
  text-align: left;
}

.work-page .container .title {
  font-size: $title-size;
  padding: 2.5rem 0;
}

.work-page .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.work-page .content .card-info {
  background: #000;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.3rem #575151;
  transition: all 0.5s ease-in-out;
  max-width: 47rem;
  min-width: 10rem;
}

.work-page .content .card-info .data {
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .work-page .title {
    margin-bottom: 1rem;
  }
  .work-page .content {
    grid-template-columns: 1fr;
  }
}

/* Keyframe Animation for Smooth Transition */
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
