.logo{
  font-family: 'Black And White Picture', sans-serif !important;
  font-size: 1.5em
}

.brand-link{
  text-decoration: navajowhite !important;
}

.navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  margin: auto;
  margin-right: 1em;
  border: .1em solid #dc3545;
  background-color: #dc3545;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif !important
}

.list{
  margin: auto;
  margin-right: 2em;
}

.list li{
  text-decoration: navajowhite;
  display: inline-block;
}
.list li a{
  text-decoration: navajowhite;
  padding: 1em 3em;
}

.list li a:last-child{
  padding: 1em 0 1em 3em;
}

.navbar-brand{
  font-size: 2.5em !important;
  color: #dc3545 !important;
  font-family: 'Black And White Picture', sans-serif !important;
}

@media (min-width: 1200px){
  .larg-nav{
    margin-right: 6em;
    margin-left: 6em
  }
}