$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-500: #9E9E9E;
$gray-800: #424242;


$title-size: 2rem;
$subtitle-size: 1.8rem;
$sub-subtitle-size: 1.6rem;
$paragraph-size: 1.4rem;

$title-color: $gray-300;
$subtitle-color: $gray-400;
$sub-subtitle-color: $gray-500;
$paragraph-color: $gray-400;