@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.nav_link:hover {
  background-color: #06b6d4;
  color: #000000;
}

.nav_link:hover svg {
  stroke: #000000 !important;
}

.logo {
  width: 330px;
  height: 230px;
}
