@import '../../styles/config.scss';

.about-page{
  background: #fff;
  color: #ddd;
  width: 100%;
  padding-bottom: 2em;
  overflow: hidden;
  border-top: .1em solid #dc3545;
  text-align: left;
  color: #000;

  .profile {
    font-size: $paragraph-size;
  }
  .title {
      font-size: $title-size;
      padding: 1rem 0;
      margin: 0;
    }

    .sub-subtitle {
      font-size: $sub-subtitle-size;
      line-height: 2.5rem;
    }

    li{
      margin: 0 ;
      line-height: 2rem;
      font-size: $paragraph-size;
    }
}

.about-page .skills .content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-page .experience .content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .about-page .experience .content{
    grid-template-columns: 1fr;
  }
  .about-page .skills .content{
    display: grid;
    grid-template-columns: 1fr;
  }
}