@import '../../styles/config.scss';

.card{
  background: #333;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: .2rem .2rem 10rem #ccc;
  transition: all .5s ease-in-out;
  max-width: 47rem;
  min-width: 10rem;
  position: relative;

  .card-title,
  .card-subtitle,
  .card-sub-subtitle {
    font-size: $title-size;
    color: $title-color;
    padding: .5rem;
  }

  .card-subtitle {
    font-size: $subtitle-size;
    color: $subtitle-color;
  }

  .card-sub-subtitle {
    font-size: $sub-subtitle-size;
    color: $sub-subtitle-color;
  }

  .card-paragraph{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: #9e9c9c;
    font-size: $paragraph-size;
    color: $paragraph-color;
  }

  .card-close-card{
    display: none;
  }

  .card-more-info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    right: 0;
    color: #f8cc35;
    background: rgba(0,0,0,.8);
    align-items: center;
    cursor: pointer;
    display: flex;
    display: none;
    border: navajowhite;
    justify-content: center;
    border-radius: .4rem;
    outline: navajowhite;
    transition: all .5s ease-in-out;
    font-size: $title-size;
  }

  &:hover .card-more-info{
    display: block;
  }

}

@media (max-width: 768px){
  .card {
    padding-bottom: 3rem;
    max-width: 100%;

    .card-more-info{
      display: block;
      width: 5rem;
      height: 3rem;
      top: unset;
      background: #f00;
      color: #fff;
      font-size: 1.8rem;
      bottom: 0;
      left: 0;
      border-radius: 0 .4rem 0 .4rem;
    }
  }
}
