@import "../../styles/config.scss";

.home .header.container {
  padding: 0;
}

.home {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #121212, #3d4a5d);

  .content {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content-text {
      position: absolute;

      .title {
        font-size: 6rem;
        font-family: "Kavoon", cursive;
        font-style: italic;
        animation: logo 3s linear infinite;
        color: #dc3545;
        text-shadow: -0.2rem 0.5rem 1rem #fff;

        strong {
          font-weight: bolder;
        }
      }
    }

    .info-list {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
      width: 50%;
      margin: auto;
      margin-top: 1.5rem;
      justify-content: center;

      li {
        list-style: none;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 0.8rem;

        a {
          font-family: "Kavoon", cursive;
          text-decoration: none;
          cursor: pointer;
          border: 0.1rem solid#ffffff;
          color: #ffffff;
          padding: 0.2em 1rem;
          border-radius: 0.4rem;
          transition: all 0.5s ease-in-out;
          display: block;
          font-size: 3rem;
        }
      }
    }

    .info-list a:hover {
      background-color: #ffffff;
      color: #000000;
    }

    img {
      width: 100%;
    }
  }
}

.move-top {
  position: fixed;
  right: 1.4rem;
  top: 50vh;
  z-index: 1000;
  list-style: none;
  background: #dc3545;
  padding: 0.3rem;
  border-radius: 0 2rem;
  display: none;
}

.move-top a {
  text-decoration: navajowhite;
  color: #bbb;
  font-weight: bold;
}

@media (max-width: 767px) {
  .header {
    .content {
      padding-bottom: 1rem;
    }

    img {
      width: 100%;
      height: auto;
      display: flex;
      align-self: flex-start;
    }
  }
}

@media (max-width: 591px) {
  .header {
    .content {
      display: flex;
      .content-text {
        position: relative;
        top: -8rem;
        .info-list {
          grid-template-columns: 1fr;
          width: 20%;

          li {
            a {
              font-size: 3.5rem;
            }
          }
        }
        .title {
          margin-top: 15rem;
        }
      }
      img {
        display: none;
      }
    }
  }
}
