@import "../../styles/config.scss";

.home {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeSlideIn 0.5s ease;

  .bio-logo {
    margin-right: 40px;
    img {
      max-width: 480px;
      max-height: 480px;
      width: 100%;
      border-radius: 50%;
    }
  }

  .content {
    > h2 {
      font-size: 80px;
      margin-bottom: 20px;
    }
    .about {
      h3 {
        font-size: 22px;
      }
      p {
        line-height: 1.8em;
        font-size: 18px;
        max-width: 590px;
        color: #000;
        font-weight: 200;
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }

    .links {
      display: flex;
      animation: fadeLinksIn 0.5s ease;
      a {
        text-decoration: none;
        display: flex;
        border: 1px solid #000;
        border-radius: 50%;
        font-size: 22px;
        width: 140px;
        height: 140px;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: #000;
      }
      :not(:last-child) {
        margin-right: 20px;
      }
      :nth-child(1) {
        background-color: #eea302;
      }
      :nth-child(2) {
        background-color: #ff3b25;
      }
      :nth-child(3) {
        background-color: #80d8da;
      }
    }
  }
}

@media (max-width: 767px) {
  .home {
    flex-direction: column;
    margin: 20px 0;
    height: 100%;
    .bio-logo {
      margin-right: 0;
    }

    .content {
      text-align: center;
      > h2 {
        font-size: 60px;
        margin-bottom: 20px;
      }

      .about {
        p {
          margin-bottom: 20px;
        }
        .sub-bio {
          display: none;
        }
      }

      .links {
        justify-content: center;
        a {
          font-size: 18px;
          width: 100px;
          height: 100px;
        }
        :not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

/* Keyframe Animation for Smooth Transition */
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLinksIn {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
