.contact{
  width: 100%;
  padding: 2em 0em;
  text-align: left;
}

.contact-container{
  display: grid;
  justify-content: center;
}

.contact-title, 
.contact-sub-title {
  padding: .5rem 0;
}

.contact-list {
  width: 15rem;
  text-align: left;
  padding: .5rem 0;
  margin-left: 1.1rem;
}

.contact-list li{
  padding: .5rem 0;
}
