@import '../../styles/config.scss';

.contact{
  width: 100%;
  padding: 2em 0em;
  text-align: left;

  .title {
    padding: .5rem 0;
    font-size: $title-size;
  }
  
  .subtitle {
    font-size: $subtitle-size;
  }
  
  .contact-list {
    padding: .5rem 0;
    margin-left: 1.1rem;
    font-size: $paragraph-size;
  }
  
  .contact-list li{
    padding: .5rem 0;
  }
}
