@import '../../styles/config.scss';

.dialog{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, .7);

  .dialog-contents{
    min-width: 75rem;
    padding: 4rem 1rem 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: .4rem solid #a91b1b;
    background: #333;
    max-height: 90vh;
    overflow-y: scroll;
    border-radius: .4rem;

    .dialog-title,
    .dialog-subtitle,
    .dialog-sub-subtitle {
      font-size: $title-size;
      color: $title-color;
      padding: .5rem;
    }
  
    .dialog-subtitle {
      font-size: $subtitle-size;
      color: $subtitle-color;
    }
  
    .dialog-sub-subtitle {
      font-size: $sub-subtitle-size;
      color: $sub-subtitle-color;
    }

    .dialog-paragraph{
      white-space: normal !important;
      min-height: 10rem;
      font-size: $paragraph-size;
      text-align: left;
      font-size: $paragraph-size;
      color: $paragraph-color;
    }

    .dialog-close-card{
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      font-weight: bold;
      display: block;
      outline: none;
      padding: .4em .8em;
      background: #a91b1b;
      border-color: #a91b1b;
      transition: all .5s ease-in-out;
      border-bottom-right-radius: 1rem;
      font-size: 2rem;
    }

    .dialog-close-card:hover{
      background: #f00;
      border-color: #f00;
    }

  }

}
@media (max-width: 768px){
  .dialog .dialog-contents{
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-height: 100vh;
    transform: translate(0,0);
    border-radius: 0;
    border: none;

    .dialog-paragraph{
      overflow-y: auto;
      overflow-x: hidden;
      font-size: $paragraph-size;
      text-align: left;
    } 
  } 
}

@media (max-width: 592px){
  .dialog {
    .dialog-dialog-contents{
      padding: 1em;
    }
  }
}
