
.footer {
  padding: 25px 0;
  text-align: center;
  background: #212529;
  border-top: .1em solid #dc3545;
  color: #fff;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.footer .social a{
  border: .1em solid #dc3545;
  padding: .2em .5em;
  margin: .5em;
  border-radius: 50%;
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  display: inline-block;
  color: #0077B5;
  transition: all .5s ease-in-out
}

.footer .social a:hover{
  background: #dc3545;
  color: #fff;
}
