
.footer {
  padding: 2.5rem 0;
  text-align: center;
  background: #212529;
  border-top: .1rem solid #dc3545;
  color: #fff;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.footer .social a{
  border: .1rem solid #eeeeee;
  padding: .2rem;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 50%;
  display: inline-block;
  transition: all .5s ease-in-out;

  img{
    width: 100%;
  }
}

