@import "../../styles/config.scss";

.experience {
  width: 100%;
  padding: 30px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;

  .title {
    font-size: $title-size;
    margin-bottom: 2.5rem;
    text-align: left;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media (max-width: 768px) {
  .experience {
    .content {
      grid-template-columns: 1fr;
    }
  }
}
