@import '../../styles/config.scss';

.about-page{
  width: 100%;
  padding-bottom: 3rem;
  overflow: hidden;
  text-align: left;
  color: #000;

  .profile {
    .title {
      font-size: $title-size;
      padding: 2.5rem 0;
    }

    .paragraph {
      font-size: $paragraph-size;
    }
  }

    .skills {
      .title {
        font-size: $title-size;
        padding: 2.5rem 0;
      }

      .content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        div{
          margin-bottom: 2.5rem;
        }

        .sub-subtitle {
          font-size: $sub-subtitle-size;
          line-height: 2.5rem;
          padding-bottom: 1.5rem;
          display: block;
        }
    
        li{
          margin: 0 ;
          line-height: 3rem;
          font-size: $paragraph-size;
        }
      }
    } 

    .experience {
      .title {
        font-size: $title-size;
        padding: 2.5rem 0;
      }
      .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
      }
    } 
}

@media (max-width: 768px) {
  .about-page .experience .content{
    grid-template-columns: 1fr;
  }
  .about-page .skills .content{
    display: grid;
    grid-template-columns: 1fr;
  }
}