*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
}

body {
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #ededed
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 650;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 4rem;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}
