body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.main-color{
  color: #dc3545;
}

p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
