.work-page{
  background: #333;
  color: #ddd;
  width: 100%;
  padding: 3em 4em 3em 3em;
  overflow: hidden;
  border-top: .1em solid #dc3545;
}

.work-page >h2{
  margin-bottom: 1.5em;
}

.work-page .content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.work-page .content .card-info{
  background: #000;
  padding: 1em;
  border-radius: .5em;
  box-shadow: 2px 2px 3px rgb(87, 81, 81);
  transition: all .5s ease-in-out
}

.work-page .content .card-info:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 8px 2px #dc3545
}

.work-page .content .card-info .title{
  margin-bottom: 1em;
}

.work-page .content .card-info .data{
  margin-bottom: 1em;
}

.work-page .content .card-info .prgrapgh{
  text-overflow: ellipsis;
  overflow: hidden;
  height: 5em;
}

@media (max-width: 767px) {
  .work-page{
    padding: 3em 1em 3em 1em;
  }
  .work-page .content{
    grid-template-columns: 1fr;
  }
  .work-page .content .card-info:hover{
    transform: scale(1.01);
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}